.tela {
	padding: 35px 25px 35px 25px;
}
.barra {
	padding: 35px 25px 35px 25px;
	margin-bottom: 10px;

}
.card {
	padding: 35px 25px 35px 25px;
}
.botao {
color: white !important;
	border: 1px solid white !important;
}
.botao1{
color: white !important;
	border: 1px solid white !important;
}
.letreiro {
	text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
h3,h4,h5 {
	font-family: "Orbitron" !important;
}
p {
	font-family: "Titillium Web" !important;
}

.diagonal-button {
	border-radius: 22px 5px 22px 5px !important;
}
.preto {
	background-color: black !important;
}
